<div class="container-fluid">
    <div class="row">
        <h2 class="page-item">Lanes</h2>

        <div class="col-sm-2">
            <div style="padding-top: 15px;">
                <b>Region</b>
            </div>
        </div>

        <div class="col-sm-10">
            {{view "region_setter"}}
        </div>

        <div class="col-sm-2">
            <div style="padding-top: 15px;">
                <b>Date</b>
            </div>
        </div>

        <div class="col-sm-10">
            {{view "start_time_setter"}}
        </div>

        <div class="data-table page-item">
            <div class="data-header">
                <div class="data-cell" style="width: 50%;">Lane Type</div>
                <div class="data-cell" style="width: 50%;">Popularity by Lane</div>
            </div>
            <div class="data-body">
                {{#each championLaneStat in controller.model}}
                    <div class="data-row">
                        <div class="data-cell" data-label="Lane Type">
                            {{championLaneStat.laneType}}
                        </div>
                        <div class="data-cell" data-label="Popularity by Lane">
                            <div class="image-holder">
                                {{#each champion in championLaneStat.champions}}
                                    {{static-entity-image model=champion}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
