<div class="container-fluid">
    <div class="row">
        <h2 class="page-item">Items</h2>

        <div class="data-table page-item">
            <div class="data-header">
                <div class="data-cell" style="width: 10%;">Item</div>
                <div class="data-cell" style="width: 25%;">Popularity</div>
                <div class="data-cell" style="width: 25%;">... as First Item</div>
                <div class="data-cell" style="width: 40%;">Top Buyers</div>
            </div>
            <div class="data-body">
                {{#each itemStat in controller.model}}
                    <div class="data-row">
                        <div class="data-cell" data-label="Item">
                            {{static-entity-image model=itemStat.item}}
                        </div>
                        <div class="data-cell" data-label="Popularity">
                            {{itemStat.percentPurchases}}
                        </div>
                        <div class="data-cell" data-label="... as First Item">
                            {{itemStat.percentFirstPurchases}}
                        </div>
                        <div class="data-cell" data-label="Top Buyers">
                            <div class="image-holder">
                                {{#each champion in itemStat.topPurchasers}}
                                    {{static-entity-image model=champion}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
