<div class="container-fluid">
    <div class="row">
        <h2 class="page-item">Useless Runes and Masteries</h2>

        <div class="data-table page-item">
            <div class="data-header">
                <div class="data-cell" style="width: 50%;">Rune or Mastery</div>
                <div class="data-cell" style="width: 25%;">Occurrence Rate</div>
                <div class="data-cell" style="width: 25%;"># Players</div>
            </div>
            <div class="data-body">
                {{#each uselessRuneMasteryStat in controller.model}}
                    <div class="data-row">
                        <div class="data-cell" data-label="Rune or Mastery">
                            {{static-entity-image model=uselessRuneMasteryStat.content}}
                            {{uselessRuneMasteryStat.content.name}}
                        </div>
                        <div class="data-cell" data-label="Occurrence Rate">
                            {{uselessRuneMasteryStat.percentOccurrences}}
                        </div>
                        <div class="data-cell" data-label="# Players">
                            {{uselessRuneMasteryStat.nOccurrences}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
